{% extends 'front/template.html.twig' %}

{% block title %}{{ parent() }} - Bienvenue{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{ path('front_liste_pizza_index') }}">AppPizza... <em style="font-size: 80%;">Les pizzas à la mode du pilat</em></a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('front_commande_pizza_recapitulatif') }}">
                <div class="btn btn-outline-primary">
                    Panier :
                    <span id="cart-items">
                        {% if app.request.cookies.get('nbPizzas') %}
                            {{ app.request.cookies.get('nbPizzas') }}
                        {% else %}
                            vide
                        {% endif %}
                    </span>
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </div>
            </a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>Liste des pizzas</h1>
        </div>
    </div>
    <div class="row mt-3">
        {% for pizza in pizzas %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ pizza.urlMiniature }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ pizza.nom }} - {{ pizza.prix }}€</h5>
                    <ul>
                        {% for ingredient in pizza.ingredients %}
                        <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                    <a href="#" class="btn btn-block btn-primary" id="pizza-id" data-param="{{ pizza.id }}">Ajouter au panier</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).on('click', '#pizza-id', function () {
        $.post("{{ path('front_ajouter_pizza_au_panier') }}" , {
            id: ($(this).attr('data-param'))
        },
        function() {
            let cart = $("#cart-items");
            if ($("#cart-items:contains('vide')").length != 1) {
                cart.text(parseInt(cart.text()) + 1);
            } else {
                cart.text(1);
            }
        });
    });
</script>
{% endblock %}
